/********** Template CSS **********/
:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}













.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.person {
    text-align: center;
    margin: 20px;
}

.photo {
    position: relative; /* Shtojmë pozicionimin e përafërt */
    width: 200px; /* Madhësia e përafërt e fotove */
    height: 200px;
    overflow: hidden;
}

.photo img {
    width: 100%; /* Plotësojë madhësinë e fotove në marrëveshje me div-in e tyre prind */
    height: 100%;
    object-fit: cover; /* Fotografitë do të jenë të mbuluar në plotësim për të ruajtur format e tyre */
}

.caption {
    position: absolute; /* Vendosim tekstin nën fotografi */
    bottom: 0; /* Vendosim tekstin në fund të fotove */
    left: 0; /* Vendosim tekstin në fillim të kornizës */
    width: 100%; /* Teksti të plotësojë të gjithë gjatësinë e fotove */
    background-color: blue; /* Ngjyra e kornizës */
    color: white; /* Ngjyra e tekstit */
    padding: 10px; /* Hapësirë brenda kornizës */
    box-sizing: border-box; /* Bën që paddingu të mos ndikojë në madhësinë totale të elementit */
}

.person h2 {
    margin: 10px 0;
}

.person p {
    font-style: italic;
}













/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}






{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background: #f2f2f2;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #333;
  }
  
  .navbar {
    display: flex;
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar input#menu-toggler {
    display: none;
  }
  
  .navbar #hamburger-btn {
    cursor: pointer;
    display: none;
  }
  
  .navbar .all-links {
    display: flex;
    align-items: center;
  }
  
  .navbar .all-links li {
    position: relative;
    list-style: none;
  }
  
  .navbar .logo a {
    display: flex;
    align-items: center;
    margin-left: 0;
  }
  
  header a, footer a {
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 20px 0;
    display: inline-block;
  }
  
  header a:hover, footer a:hover {
    color: #ddd;
  }
  
  .homepage {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("images/home-bg.jpg");
    background-position: center 65%;
    background-size: cover;
  }
  
  .homepage::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .homepage .content {
    display: flex;
    height: 85%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .homepage .content h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .homepage .content .text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .content a {
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }
  
  .content a:hover {
    color: #fff;
    background: rgba(255,255,255,0.3);
  }
  
  section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
  }
  
  section h2 {
    font-size: 2rem;
  }
  
  section > p {
    text-align: center;
  }
  
  section .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
  }
  
  section.about {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .about .company-info {
    margin-top: 30px;
  }
  
  .about h3 {
    margin: 30px 0 10px;
  }
  
  .about .team {
    text-align: left;
    width: 100%;
  }
  
  .about .team ul {
    padding-left: 20px;
  }
  
  section .cards .card {
    background: #fff;
    padding: 40px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    width: calc(100% / 3 - 30px);
    text-align: center;
  }
  
  .portfolio .cards .card {
    padding: 0 0 20px;
  }
  
  .services .card img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
  }
  
  .portfolio .card img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 7px;
  }
  
  .cards .card p {
    padding: 0 15px;
    margin-top: 5px;
  }
  
  .about .row {
    padding: 0 10px;
  }
  
  .contact .row {
    margin: 60px 0 90px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact .row .col {
    padding: 0 10px;
    width: calc(100% / 2 - 50px);
  }
  
  .contact .col p {
    margin-bottom: 10px;
  }
  
  .contact .col p i {
    color: #7a7a7a;
    margin-right: 10px;
  }
  
  .contact form input {
    height: 45px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 1px solid #bfbfbf;
  }
  
  .contact form textarea {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    height: 150px;
    outline: none;
    resize: vertical;
    border: 1px solid #bfbfbf;
  }
  
  .contact form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #333;
    transition: 0.2s ease;
  }
  
  .contact form button:hover {
    background: #525252;
  }
  
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000;
    padding: 20px 0;
  }
  
  footer div {
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  footer span {
    color: #fff;
  }
  
  footer a {
    padding: 0;
  }
  
  @media screen and (max-width: 860px) {
    .navbar .all-links {
      position: fixed;
      left: -100%;
      width: 300px;
      display: block;
      height: 100vh;
      top: 75px;
      background: #333;
      transition: left 0.3s ease;
    }
  
    .navbar #menu-toggler:checked~.all-links {
      left: 0;
    }
  
    .navbar .all-links li {
      font-size: 18px;
    }
  
    .navbar #hamburger-btn {
      display: block;
    }
  
    section > p {
      text-align: center;
    }
  
    section .cards .card {
      width: calc(100% / 2 - 15px);
      margin-bottom: 30px;
    }
  
    .homepage .content h1 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  
    .homepage .content .text {
      font-size: 17px;
    }
  
    .content a {
      font-size: 17px;
      padding: 9px 20px;
    }
  
    .contact .row {
      flex-direction: column;
    }
  
    .contact .row .col {
      width: 100%;
    }
  
    .contact .row .col:last-child {
      margin-top: 40px;
    }
  
    footer a {
      height: 0;
    }
  }
  
  @media screen and (max-width: 560px) {
    section .cards .card {
      width: 100%;
      margin-bottom: 30px;
    }
  }


  







  body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #2dc997;
    text-decoration: none;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #2dca98;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #2dc997;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #49d6a9;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: rgba(52, 59, 64, 0.9);
  }
  
  #header #logo h1 {
    font-size: 32px;
    margin: 0;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header #logo h1 a,
  #header #logo h1 a:hover {
    color: #fff;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
  }
  
  #header.header-transparent {
    background: transparent;
  }
  
  #header.header-scrolled {
    background: rgba(52, 59, 64, 0.9);
    height: 70px;
    transition: all 0.5s;
  }
  
  .scrolled-offset {
    margin-top: 70px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 24px;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 14px;
    padding: 0 4px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #2dc997;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #666666;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #2dc997;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(77, 77, 77, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile>ul>li {
    padding: 0;
  }
  
  .navbar-mobile a:hover:before,
  .navbar-mobile li:hover>a:before,
  .navbar-mobile .active:before {
    visibility: hidden;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #666666;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #2dc997;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #2dc997;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.jpg) top center;
    background-size: cover;
    position: relative;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  #hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero .btn-get-started:hover {
    background: #2dc997;
    border: 2px solid #2dc997;
  }
  
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  section {
    overflow: hidden;
  }
  
  /* Sections Header
  --------------------------------*/
  .section-header .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #999;
  }
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 20px 0;
    background-color: whitesmoke;
    min-height: 40px;
    margin-top: 92px;
  }
  
  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs ol {
      display: block;
    }
  
    .breadcrumbs ol li {
      display: inline-block;
    }
  }
  
  /* About Us Section
  --------------------------------*/
  #about {
    background: #fff;
    padding: 80px 0;
  }
  
  #about .about-container .background {
    min-height: 300px;
    background: url(../img/about-img.jpg) center top no-repeat;
    margin-bottom: 10px;
  }
  
  #about .about-container .content {
    background: #fff;
  }
  
  #about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
  }
  
  @media (max-width: 768px) {
    #about .about-container .title {
      padding-top: 15px;
    }
  }
  
  #about .about-container p {
    line-height: 26px;
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0;
  }
  
  #about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
  }
  
  #about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #2dc997;
  }
  
  #about .about-container .icon-box .icon i {
    color: #2dc997;
    font-size: 24px;
    line-height: 0;
  }
  
  #about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  #about .about-container .icon-box .title a {
    color: #111;
  }
  
  #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }
  
  /* Facts Section
  --------------------------------*/
  #facts {
    background: #f7f7f7;
    padding: 80px 0 60px 0;
  }
  
  #facts .counters span {
    font-size: 48px;
    display: block;
    color: #2dc997;
  }
  
  #facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  
  /* Services Section
  --------------------------------*/
  #services {
    background: #fff;
    background-size: cover;
    padding: 80px 0 60px 0;
  }
  
  #services .box {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 200px;
    position: relative;
    background: #fafafa;
  }
  
  #services .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #2dc997;
  }
  
  #services .icon a {
    display: inline-block;
  }
  
  #services .icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
  }
  
  #services .box:hover .icon {
    background: #fff;
    border: 2px solid #2dc997;
  }
  
  #services .box:hover .icon i {
    color: #2dc997;
  }
  
  #services .box:hover .icon a {
    color: #2dc997;
  }
  
  #services .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  #services .title a {
    color: #111;
  }
  
  #services .description {
    font-size: 14px;
    line-height: 24px;
  }
  
  /* Call To Action Section
  --------------------------------*/
  #call-to-action {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
  }
  
  @media (max-width: 1024px) {
    #call-to-action {
      background-attachment: scroll;
    }
  }
  
  #call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  #call-to-action .cta-text {
    color: #fff;
  }
  
  @media (min-width: 769px) {
    #call-to-action .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  
  #call-to-action .cta-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #call-to-action .cta-btn:hover {
    background: #2dc997;
    border: 2px solid #2dc997;
  }
  
  /* Portfolio Section
  --------------------------------*/
  #portfolio {
    background: #f7f7f7;
    padding: 80px 0;
  }
  
  #portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
  }
  
  #portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 12px 18px 14px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #666666;
    margin: 0 5px 10px 5px;
    transition: all ease-in-out 0.3s;
    background: white;
    border-radius: 4px;
  }
  
  #portfolio #portfolio-flters li:hover,
  #portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: #2dc997;
  }
  
  #portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  #portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  #portfolio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: #2dc997;
    padding: 15px 20px;
  }
  
  #portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  
  #portfolio .portfolio-item .portfolio-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  #portfolio .portfolio-item .portfolio-info .preview-link,
  #portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
  }
  
  #portfolio .portfolio-item .portfolio-info .preview-link:hover,
  #portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #a4ebd4;
  }
  
  #portfolio .portfolio-item .portfolio-info .details-link {
    right: 15px;
  }
  
  #portfolio .portfolio-item:hover img {
    top: -30px;
  }
  
  #portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 40px;
  }
  
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #2dc997;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2dc997;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(102, 102, 102, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  
  /* Team Section
  --------------------------------*/
  #team {
    background: #fff;
    padding: 80px 0 60px 0;
  }
  
  #team .member {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #team .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    height: 260px;
  }
  
  #team .member .pic img {
    max-width: 100%;
  }
  
  #team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }
  
  #team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  #team .member .social {
    margin-top: 15px;
  }
  
  #team .member .social a {
    color: #b3b3b3;
  }
  
  #team .member .social a:hover {
    color: #2dc997;
  }
  
  #team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
  /* Contact Section
  --------------------------------*/
  #contact {
    background: #f7f7f7;
    padding: 80px 0 40px 0;
  }
  
  #contact #google-map {
    height: 300px;
    margin-bottom: 20px;
  }
  
  #contact .info {
    color: #333333;
  }
  
  #contact .info i {
    font-size: 32px;
    color: #2dc997;
    float: left;
    line-height: 0;
  }
  
  #contact .info p {
    padding: 0 0 10px 50px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
  }
  
  #contact .info .email p {
    padding-top: 5px;
  }
  
  #contact .social-links {
    padding: 20px 0;
  }
  
  #contact .social-links a {
    font-size: 18px;
    background: #333;
    color: #fff;
    line-height: 1;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  #contact .social-links a i {
    line-height: 0;
  }
  
  #contact .social-links a:hover {
    background: #2dc997;
    color: #fff;
  }
  
  #contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  #contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  #contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  #contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  #contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  #contact .php-email-form input,
  #contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  #contact .php-email-form input::focus,
  #contact .php-email-form textarea::focus {
    background-color: #2dc997;
  }
  
  #contact .php-email-form button[type=submit] {
    background: #2dc997;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  
  #contact .php-email-form button[type=submit]:hover {
    background: #51d8ad;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: #343b40;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
  }










/* Stilizimet për seksionin e ngarkimit të fotove dhe komenteve */
#upload-section {
  background-color: #f9f9f9;
  padding: 40px 0;
}

.upload-container {
  display: flex;
  justify-content: space-between;
}

.upload-form,
.comments-form {
  width: 48%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form h3,
.comments-form h3 {
  margin-top: 0;
}

#file-input {
  margin-bottom: 20px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
}

#gallery img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#comments {
  margin-top: 20px;
}

#comments div {
  margin-bottom: 10px;
}

#comment-input {
  width: calc(100% - 130px);
  margin-right: 10px;
}

#comment-btn {
  width: 120px;
}